---
import BlogCard from "./BlogCard.astro"
const { dataCategory } = Astro.props

import { allBlogs } from "../../demoblogs/all-blogs"
---

<div class="px-[150px] pt-[70px] s:px-[30px] sm:px-[40px] md:px-[60px]">
    <h1 class="font-sans text-3xl font-thin text-[var(--color-text)] s:text-center sm:text-center">Popular from 
        <span class="italic bg-[var(--color-secondary-1)] px-2">{dataCategory}</span>
    </h1>
    <div class={`grid s:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 grid-cols-3 gap-4 my-6`}>
		{allBlogs
		.filter(blog => blog.category === dataCategory)
		.slice(0, 3)
		.map((blog) => (
		  <BlogCard
			image={blog.image}
			author={blog.author}
			readingTime={blog.readingTime}
			title={blog.title}
			category={blog.category}
			id={blog.id}
		  />
		))}
	</div>
</div>