---
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/blogs/BlogCard.astro";
import { getBlogPosts } from "../../lib/sanityQueries";
const posts = await getBlogPosts();
---


<Layout pageTitle="Blogs - Accoreviews">
    <h3 class="text-center font-sans text-xl font-semibold mt-10">Blogs</h3>
    <div class="grid s:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 grid-cols-3 gap-y-8 gap-x-4 my-6 px-[120px] s:px-[30px] sm:px-[40px] md:px-[60px]">
        {posts.map(post => (
            <BlogCard
                image={post.mainImage?.asset.url} 
                author={post.author}
                readingTime={post.readingTime}
                title={post.title} 
                category={post.category}
                id={post.slug} 
            />
        ))}
    </div>
</Layout>