---
import Banner from '../../../components/Banner.astro';
import Heading from '../../../components/Heading.astro';
import Subtitle from '../../../components/Subtitle.astro';
import Tags from '../../../components/Tags.astro';
import { artBlogs } from '../../../demoblogs/art-blogs';
import Layout from '../../../layouts/Layout.astro';

export function getStaticPaths() {
  return artBlogs.map(blog => ({
    params: { id: blog.id },
    props: { blog },
  }));
}

const { blog } = Astro.props;
---

<Layout pageTitle={blog.title + ' Accoreviews'}>
  <div class="px-[80px] py-[50px] s:p-[30px] sm:px-[50px]">
    <a href="/" class="w-fit mb-32 text-white">
      <span class="h-11 w-11 rounded-full bg-[var(--color-secondary-2)] hover:bg-[var(--color-secondary-2-dark)] transition-colors duration-300 flex justify-center items-center">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
    </a>
    <div class="mb-2.5 mt-4">
      <img src={blog.image} alt={`Image for blog ${blog.id}`} class="h-[400px] w-full object-cover">
    </div>
    <div class="flex s:flex-col sm:flex-col items-end justify-between mt-5">
      <div class="space-y-5">
        <Heading content={blog.title} />
        <!-- <Subtitle content={blog.subTitle} /> -->
      </div>
      <span class="text-sm text-gray-500 s:text-xs sm:text-xs">{blog.date}</span>
    </div>

    <div class="flex gap-3 items-center my-5">
      {blog.tags.map(tag => <Tags tag={tag}/>)}
    </div>

    <div class="flex flex-col justify-center items-center space-y-5">
      <div class="flex items-center justify-between gap-20 h-10 border-b border-gray-500">
        <span class="text-gray-600 text-xs">{blog.readingTime} read</span>
        <span class="text-[var(--color-text)] text-xs">Written By: <strong>{blog.author}</strong></span>
      </div>
      <p class="text-gray-800 text-base mx-20 leading-[30px] s:mx-5 sm:mx-8 s:text-sm sm:text-sm">{blog.content.slice(0,249)}</p>
      <Banner>
        <p>Visit the store</p>
        <span><i class="fa-solid fa-store"></i></span>
      </Banner>
      <div class="grid grid-cols-3 s:grid-cols-1 sm:grid-cols-1 gap-x-10 s:gap-y-10 sm:gap-y-10 m-10 w-full px-14 s:px-7 sm:px-5 s:mt-3 sm:mt-1.5">
        {blog.subBlogs.map(subBlog => 
          <div>
            <img src={subBlog.img} alt="Image" class="h-[250px] w-full object-cover">
            <div class="flex items-center justify-between my-2.5">
              <p>{subBlog.title}</p>
              <p class="text-xs">{subBlog.rating}</p>
            </div>
            <button class="underline ml-0.5 text-[var(--color-secondary-2)] hover:text-[var(--color-secondary-2-dark)]">Shop the {subBlog.type}</button>
          </div>
        )}
      </div>
    </div>
  </div>
</Layout>